@font-face {
  font-family: aliseo;
  src: url(aliseo-noncommercial.otf);
}

h1 {
  padding:30px;
  color: #2a5b84;
  font-size: 75px;
  text-align: center;
  font-family: aliseo;
}

h2 {
  color: #c2c5cc;
  text-align: center;
  font-family: aliseo;
  font-size: 30px;
}

/* * {
  box-sizing: border-box;
} */

body {
  margin:0px;
}

#goButton {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background:none;
  border:5px solid black;
  font-size:20px;
  border-radius: 5px;
  width:200px;
  height:50px;
}

#top {
  position: relative;
  width:100%;
  margin:0px;
  background-color: #e2e1d2;
  padding-bottom: 8px;
  height:100%;
  width:100%;
}

#circles {
  position:absolute;
  height:100%;
  width:100%;

}

#imageGallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 4px;
}

#imageGallery .column {
  flex:25%;
  max-width: 25%;
padding: 0px 4px;
}

#imageGallery .column img {
  width:100%;
  vertical-align: middle;
  margin-top:8px;
}

#menubtn {
  margin:12px;
  font-size:50px;
  text-align:center;
  width:50px;
  height:50px;
  position: fixed;
  top:0px;
  left:0px;
  color:white;
}

#sidebar {
  background: rgba(0, 0, 0, 1);
  position: fixed;
  top:0px;
  left:0px;
  height:100%;
  width:0px;
  transition:0.5s;
  overflow-x: hidden;
  padding-top: 60px;
  opacity:1;
}


#sidebar a {
  position:relative;
  text-decoration: none;
  font-size: 40px;
  padding: 8px 12px 8px 30px;
  transition: 0.3s;
  color: white;
}

#sidebar a:before {
  background-color: red;
  content:"";
  position: absolute;
  width:0vw;
  height:2px;
  left:0px;
  bottom:45%;
  transition: all 0.3s ease-in-out 0s;
}


#sidebar a:hover:before {
  width:100vw;
}

/* #sidebar a:hover {
  color: #f1f1f1;
} */

#sidebar .closebtn {
  position: absolute;
  left:0px;
  top:0px;
  color:white;

}

#hamButton {
  position:fixed;
  top:0;
  left:0;
}
