@font-face {
  font-family: aliseo;
  src: url(aliseo-noncommercial.otf);
}

@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}


button:focus {outline:0;}

h1 {
  padding:0px;
  color: white;
  font-size: 75px;
  text-align: center;
  font-family: 'lato',sans-serif;
  font-weight: 300;
  font-size: 70px;
  letter-spacing: 10px;
}

h2 {
  color: #c2c5cc;
  text-align: center;
  font-family: 'lato',sans-serif;
  font-size: 60px;
  margin-bottom: 40px;
}

h3 {
  padding-top: 75px;
  text-align: center;
  font-family: 'lato',sans-serif;
}

h4 {
  text-align: center;
  font-family: 'lato',sans-serif;
}
p {
  margin: 20px;
  font-family: 'lato',sans-serif;
  font-size: 20px;
}
/* * {
  box-sizing: border-box;
} */

body {
  margin:0px;
}

.page {
  padding:50px;
  position: relative;
  width:100%;
  margin:0px;
}

#goButton {
  cursor: pointer;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background:none;
  border:5px solid black;
  font-size:20px;
  border-radius: 5px;
  width:200px;
  height:50px;
}

#top {
  background-image: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow:hidden;
  height:100%;
}

#circles {
  position:absolute;
  height:100%;
  width:100%;

}

#imageGallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 4px;
}

#imageGallery .column {
  flex:25%;
  max-width: 25%;
padding: 0px 4px;
}

#imageGallery .column img
{
  width:100%;
  height:100%;
  vertical-align: middle;
  margin-top:8px;
}
#aboutMe {
  background-color: white;
}
#flexAbout {
  display: flex;
  flex-wrap: wrap;
}
.textbox {
  border: 5px solid black;
  width:50%;
  font-size: 20px;
  margin:20px;
}

#selfie {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top:20px;
  width:25%;
  height:25%;
  border-radius: 50%;
}

#abilitiesPage {
  background-color: #ECECEC;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.square {

}
@media(max-width: 1333px) {
  .column {
    flex-basis: 33.33%;
  }
}
@media(max-width: 1073px) {
   .column {
    flex-basis: 33.33%;
  }
}
@media(max-width: 815px) {
  .column {
    flex-basis: 50%;
  }
}
@media(max-width: 555px) {
  .column {
    flex-basis: 100%;
  }
}

.column {


flex-basis: 33%;
-ms-flex: auto;
width: 259px;
height:350px;
position: relative;
padding: 10px;
box-sizing: border-box;
}

.column:before {


}

.column:hover {

}

.column:after {

}

.column:hover:after {
}

.column img {
  display:block;
    margin:auto;
  width:200px;
}

.column h3 {


}

.square img:after {

}

#menubtn {
  margin:12px;
  font-size:50px;
  text-align:center;
  width:50px;
  height:50px;
  position: fixed;
  top:0px;
  left:0px;
  color:white;
}

#sidebar {
  background: rgba(0, 0, 0, 1);
  position: fixed;
  top:0px;
  left:0px;
  height:100%;
  width:0px;
  transition:0.5s;
  overflow-x: hidden;
  padding-top: 60px;
  opacity:1;
  z-index: 2;
}


#sidebar a {
  position:relative;
  text-decoration: none;
  font-size: 40px;
  font-family: 'lato',sans-serif;
  padding: 8px 12px 8px 30px;
  transition: all 0.3s ease-in-out 0s;
  color: white;
}



#sidebar a:before {
  background-color: #d22631;
  content:"";
  position: absolute;
  width:0vw;
  height:2px;
  left:0px;
  bottom:45%;
  transition: all 0.3s ease-in-out 0s;
  z-index: -1;
}


#sidebar a:hover:before {
  width:100vw;
  transform: scaleY(2);

}

/* #sidebar a:hover {
  color: #f1f1f1;
} */

#sidebar .closebtn {
  position: absolute;
  left:0px;
  top:0px;
  color:white;

}

#hamButton {
  position:fixed;
  top:10px;
  left:10px;
}
* {
  box-sizing: border-box;
}
#goButton {
  border: 2px solid white;
  border-radius: 0px;
  font-family: 'lato',sans-serif;
  color:white;

}


#goButton:before {
  z-index: -1;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:4px;
  content:"";
  background-color: #d22631;
    -webkit-transition: width 0.1s,
    height 0s 0.1s;
}

#goButton:hover:before {
  max-width: 100%;
  width:100%;
  height:100%;
  transition:
    width 0.2s,
    height 0.2s 0.2s;
}


/*
.column:after {

  content: "";
  background-color: gray;
  position:absolute;
  top:0%;
  z-index: 4;
  width:100%;
  height:inherit;
  background-color: gray;
  transition:background-color 0.5;
} */
